@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=League+Spartan:wght@100..900&family=Poppins:wght@500&family=Protest+Guerrilla&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: black;
  color: white;
  font-family: 'poppins';
}